<div id="link">
  <%= link_to "Add JO ", new_job_path %> |
  <%= link_to 'Ongoing', jobs_path %> |
  <%= link_to "Finished ", accomplished_jobs_path %> |
  <%= link_to "Sign out",  destroy_user_session_path,  :method=> :delete %> 
  <b><%= current_user.email if user_signed_in? %></b>
</div>
<h1>Update Job Order</h1>

<div class="status hidden">
<%= semantic_form_for(@job) do |f| %>
  <%= f.inputs do %>
  <%= f.input :date_time_started,        :include_blank => false, 
  					 :collection => [["- Auto Generated -","  ",Time.now.in_time_zone("Eastern Time (US & Canada)")]],
					 :hint => "",
                                         :label => "Time/Date"%>
					 

  <%= f.input :id,                       :start_year    => 2011,
                                         :label => "Auto Generate" %>

 
  <%= f.input :status,                   :include_blank => false, 
                                         :collection => [["-Ongoing -"," Ongoing "]],
					 :hint => ""%>



  <%= f.input :prepared_by,              :include_blank => false, 
                                         :collection => [["- Auto Generated -","  ",current_user.email]],
					 :hint => ""%>
  </div>
 


<table width="750" border="1" align="center">
   <tr>
      <th width="114" scope="col">&nbsp;</th>
      <th width="247" scope="col">&nbsp;</th>
      <th width="114" scope="col">&nbsp;</th>
      <th width="247" scope="col">&nbsp;</th>
   </tr>
   
   <tr>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
   </tr>
   <tr>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>Technical </td>
      <td><%= f.input :technical, :label => ":" %></td>
   </tr>
   <tr>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>Status</td>
      <td><%= f.input :status, :collection => [["-Ongoing -"," Ongoing "],["Finished","Finished"]], 
	                       :include_blank => false,  
                               :label => "." %></td>
      </tr>
   <tr>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
   </tr>
</table>
   <table width="750" border="1" align="center">
   <tr>
      <th width="89" scope="col">&nbsp;</th>
      <th width="667" scope="col">&nbsp;</th>
      </tr>
   <tr>
      <td>To Do:</td>
      <td height="90"><%= f.input :todo, :label => "."%></td>
   </tr>
   <tr>
      <td>Work Done:</td>
      <td height="90"><%= f.input :work_done, :label => "."%></td>
   </tr>
   <tr>
      <td>Remarks:</td>
      <td height="90"><%= f.input :remarks, :label => "."%></td>
   </tr>
   <tr>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
   </tr>
</table>

<% end %>

<table width="100" border="1" align="center">
     <div class="status hidden">

        <tr>
            <th scope="col"><div align="center"><%= f.buttons %></div></th>
        </tr>
</table>
<p>&nbsp;</p>

<% end %>

