<h1>Update Job Order</h1>
<%= semantic_form_for(@job) do |f| %>
  <%= f.inputs do %>
  <%= f.input :technical %>
  <%= f.input :todo %>
  <%= f.input :work_done %>
  <%= f.input :remarks %>
  <%= f.input :date_time_finished,:default       => Date.today,
                                  :start_year    => 2011,
                                  :include_blank => false %>
  <div class="status">
  
  <%= f.input :status, :include_blank => false, :collection => [["ONGOING", "ONGOING"],["PENDING", "PENDING"],["FINISHED","FINISHED"]] %>
   </div>
  <% end %>

  <%= f.buttons %>
<% end %>



