
<div id="link">
  
  <%= link_to "Add JO ", new_job_path %> |
  <%= link_to 'Ongoing', jobs_path %> |
  <%= link_to "Finished ", accomplished_jobs_path %> |
  <%= link_to "Sign out",  destroy_user_session_path,  :method=> :delete %>

</div>
<h1>Job Order</h1>
<div class="email">
<%= current_user.email if user_signed_in? %>
</div>
<table>
  <tr>
    <th>Created Date:</th>
    <th>Ref No:</th>
    <th>Company</th>
    <th>Technical</th>
    <th>Prepared by</th>
    <th>Status</th>
    <th></th>
    <th></th>
  </tr>

<% @jobs.each do |job| %>
  <tr>
    <td></td>
    <td><%= link_to job.id, job_path(job) %></td>
    <td><%= job.company %></td>
    <td><%= job.technical %></td>
    <td><%= job.prepared_by %></td>
    <td><%= job.status %></td>
    <td><%= link_to 'Update', edit_job_path(job) %></td>
    <td><%= link_to "Done", mark_as_done_job_path(job),:confirm => 'ARE YOU SURE THAT THIS IS FINISHED??', :method => :put %><td>
    <!-- <td><%= link_to 'Trash', job, :confirm => 'Are you sure?', :method => :delete %>-->
  </tr>
<% end %>
</table>
 

<br />


