<h1>Listing jobs</h1>

<table>
  <tr>
    <th>Date time started</th>
    <th>JO-Ref No:</th>
    <th>Company</th>
   
    
   
    <th>System/Model</th>
 
  
  
    <th>Prepared by</th>
    <th>Status</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @jobs.each do |job| %>
  <tr>
    <td><%= job.date_time_started %></td>
    <td><%= job.ref_no %></td>
    <td><%= job.company %></td>
   
    
   
    <td><%= job.system_model %></td>
   
   
  
    
    <td><%= job.prepared_by %></td>
    <td><%= job.status %></td>
    <td><%= link_to 'View', job %></td>
    <td><%= link_to 'Update', edit_job_path(job) %></td>
    <td><%= link_to 'Approved', job, :confirm => 'Are you sure?' %></td>
  </tr>
<% end %>
</table>

<br />


