<h1>Job Order</h1>

<table>
  <tr>
    <th>Date time started</th>
 
    <th>Company</th>
   
    
   
    <th>Technical</th>
 
  
  
    <th>Prepared by</th>
    <th>Status</th>
    <th>JO-Ref No:</th>
    <th></th>
    <th></th>
  </tr>

<% @jobs.each do |job| %>
  <tr>
    <td><%= job.date_time_started %></td>
    <td><%= job.company %></td>
   
    
   
    <td><%= job.technical %></td>
   
   
  
    
    <td><%= job.prepared_by %></td>
    <td><%= job.status %></td>
    <td><%= link_to job.ref_no, job_path(job) %></td>
    <td><%= link_to 'Update', edit_job_path(job) %></td>
    <td><%= link_to 'Approved', job, :confirm => 'Job-Order Working?' %></td>
    <td><%= link_to 'Destroy', job, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />


