<header>
        <%= image_tag("header.jpg", :alt => "ASI-HEADER", :class => "round") %>
</headers>
<style type="text/css">
h4 { color:olive;font-size: 14pt; }
h6 { color: #5C5858;font-size: 12pt; }
b { color:#000; font size="3" }
</style>
  <p id="notice"><%= notice %></p>
   <div align="center">
    <table border="5" cellpadding="2" cellspacing="2" width="100%">
     <tr>
       <th><h4><b>Job-Order Auto Generated:</b>  2011-0<%= @job.id %></h4></th>
       <th></th>
     </tr>
     <tr>
       <td><h6><b>Datetime Started:</b><%= @job.date_time_started %></h6></td>
       <td><h6><b>Datetime Finished:</b><%= @job.date_time_finished %></h6></td>
     </tr>
     <tr>
       <td><h6><b>Company:</b><%= @job.company %></h6></td>
       <td><h6><b>Technical:</b><%= @job.technical %></h6></td>
     </tr>
     <tr>
       <td><h6><b>Address:</b><%= @job.address %></h6></td>
       <td><h6><b>System/model:</b><%= @job.system_model %></h6></td>
     </tr>
     <tr>
       <td><h6><b>Contact Person:</b><%= @job.contact_person %></h6></td>
       <td></td>
     </tr>
     <tr>
       <td><h6><b>Contact No:</b><%= @job.contact_no %></h6></td>
       <td></td>
     </tr>
     </table>
     <table border="5" cellpadding="2" cellspacing="2" width="200%">
     <tr>
       <td><h6><b>To Do:</b><%= @job.todo %></h6></td>
     </tr>
     <tr>
       <td><h6><b>Work Done:</b><%= @job.work_done %></h6></td>
     </tr>
     <tr>
       <td><h6><b>Remarks:</b><%= @job.remarks %></h6></td>
     </tr>
     </table>
     <table border="5" cellpadding="2" cellspacing="2" width="100%">
     <tr>
       <td><h6><b>Prepared by:</b><%= @job.prepared_by %></h6></td>
     </tr>
     <tr>
       <td><h6><b>Status:</b><%= @job.status %></h></td>
     </tr>
   </table>
 </div>
</span>
<input type=button onclick="window.print()" value='PRINT'> 


