<div class="jo-link">
  <%= link_to "Add JO ", new_job_path %> |
  <%= link_to 'Ongoing', jobs_path %> |
  <%= link_to "Finished ", accomplished_jobs_path %> |
  <%= link_to "Sign out",  destroy_user_session_path,  :method=> :delete %> 
</div>
<header>
        <%= image_tag("header2.1.jpg", :alt => "ASI-HEADER", :class => "round") %>
</headers>

<style type="text/css">
h4 { color:olive;font-size: 16pt; }
p { color: #5C5858;font-size: 14pt; }
b { color:#000; font size="4" }
</style>
   <div align="left">
    <table border="2" cellpadding="1" cellspacing="1" width="100%">
     <tr>
       <th><h4><b>Generated Job-order NO:</b>  2011-0<%= @job.id %></h4></th>
       <th></th>
     </tr>
     <tr>
       <td><p><b>Generated Date:</b><%= @job.jobdate %></p></td>
       <td><p><b>Datetime Finished:</b><%= @job.date_time_finished %></p></td>
     </tr>
     <tr>
       <td><p><b>Company:</b><%= @job.company %></p></td>
       <td><p><b>Technical:</b><%= @job.technical %></p></td>
     </tr>
     <tr>
       <td><p><b>Address:</b><%= @job.address %></p></td>
       <td><p><b>System/model:</b><%= @job.system_model %></p></td>
     </tr>
     <tr>
       <td><p><b>Contact Person:</b><%= @job.contact_person %></p></td>
       <td></td>
     </tr>
     <tr>
       <td><p><b>Contact No:</b><%= @job.contact_no %></p></td>
       <td></td>
     </tr>
     </table>
     <table border="5" cellpadding="3" cellspacing="3" width="100%">
     <tr>
       <td><p><b>To Do:</b><%= @job.todo %></p></td>
     </tr>
     <tr>
       <td><p><b>Work Done:</b><%= @job.work_done %></p></td>
     </tr>
     <tr>
       <td><p><b>Remarks:</b><%= @job.remarks %></p></td>
     </tr>
     </table>
     <table border="2" cellpadding="1" cellspacing="1" width="100%">
     <tr>
       <td><p><b>Prepared by:</b><%= @job.prepared_by %></p></td>
       <td><p><b>Approved by:</b>____________________</p></td>
     </tr>
     <tr>
       <td><p><b>Status:</b><%= @job.status %></p></td>
       <td><p><b>Client Signature:</b>____________________</p></td>
     </tr>
    
   </table>
 </div>
</span>
<input type=button onclick="window.print()" value='PRINT'>



