
  <p id="notice"><%= notice %></p>
   <div align="center">
    <table border="5" cellpadding="2" cellspacing="2" width="100%">
     <tr>
       <th><h2><b>Job-Order Auto Generated:</b>  2011-0<%= @job.id %></h2></th>
       <th></th>
     </tr>
     <tr>
       <td><h4><b>Datetime Started:</b><%= @job.date_time_started %></h4></td>
       <td><h4><b>Datetime Finished:</b><%= @job.date_time_finished %></h4></td>
     </tr>
     <tr>
       <td><h4><b>Company:</b><%= @job.company %></h4></td>
       <td><h4><b>Technical:</b><%= @job.technical %></h4></td>
     </tr>
     <tr>
       <td><h4><b>Address:</b><%= @job.address %></h4></td>
       <td><h4><b>System/model:</b><%= @job.system_model %></h4></td>
     </tr>
     <tr>
       <td><h4><b>Contact Person:</b><%= @job.contact_person %></h4></td>
       <td></td>
     </tr>
     <tr>
       <td><h4><b>Contact No:</b><%= @job.contact_no %></h4></td>
       <td></td>
     </tr>
     <tr>
       <td><h4><b>To Do:</b><%= @job.todo %></h4></td>
       <td></td>
     </tr>
     <tr>
       <td><h4><b>Work Done:</b><%= @job.work_done %></h4></td>
       <td></td>
     </tr>
     <tr>
       <td><h4><b>Remarks:</b><%= @job.remarks %></h4></td>
       <td></td>
     </tr>
     <tr>
       <td><h4><b>Prepared by:</b><%= @job.prepared_by %></h></td>
       <td><h4><b>Status:</b><%= @job.status %></h4></td>
     </tr>
   </table>
 </div>
