<p id="notice"><%= notice %></p>

<p>
  <b>Date time started:</b>
  <%= @job.date_time_started %>
</p>

<p>
  <b>Company:</b>
  <%= @job.company %>
</p>

<p>
  <b>Address:</b>
  <%= @job.address %>
</p>

<p>
  <b>Technical:</b>
  <%= @job.technical %>
</p>

<p>
  <b>Ref no:</b>
  <%= @job.ref_no %>
</p>

<p>
  <b>Contact no:</b>
  <%= @job.contact_no %>
</p>

<p>
  <b>System model:</b>
  <%= @job.system_model %>
</p>

<p>
  <b>Contact person:</b>
  <%= @job.contact_person %>
</p>

<p>
  <b>Todo:</b>
  <%= @job.todo %>
</p>

<p>
  <b>Work done:</b>
  <%= @job.work_done %>
</p>

<p>
  <b>Remarks:</b>
  <%= @job.remarks %>
</p>

<p>
  <b>Date time finished:</b>
  <%= @job.date_time_finished %>
</p>

<p>
  <b>Prepared by:</b>
  <%= @job.prepared_by %>
</p>

<p>
  <b>Status:</b>
  <%= @job.status %>
</p>


<%= link_to 'Edit', edit_job_path(@job) %> |
<%= link_to 'Back', jobs_path %>
