
<div class="signout">

<%= link_to "Job Order ", '#' %> |
<%= link_to "Pending ",  '#' %> |
<%= link_to "Work Done ",  '#' %> |

<%= link_to "Sign out",  destroy_user_session_path,  :method=> :delete %>
</div>
<p class="notice"><%= notice %></p>
<h1>Form field Working</h1>

