<style type="text/css">
   @media print{
   
   #link{ display:none;}
   #head{ display:none;}
   
   }
</style>
<div id="head">
<header>
       
        <nav class="round">
          <ul>
            <li><%= link_to "Sales Order", sales_path %></li>
            <li><%= link_to 'Delivery Receipt', delivery_path %></li>
            <li><%= link_to "Job Order ", jobs_path %></li>
            <li><%= link_to "Training", training_path %></li>
            <li><%= link_to "Collection", collection_path %></li>
            <li><%= link_to "Telephone Inquiry", inquiries_path %></li>
            
          </ul>
        
        </nav>
</header>
</div>
