<style type="text/css" media="print">
 #noprint {display: none;} 
       // Hide unwanted elements
 body {background:fff; color:000;} 
       // Black text on White background
 a {text-decoration: underline; color:00f;} 
       //Underline Hyperlinks in blue
}
</style>
<span class="noprint">
<header>
       
        <nav class="round">
          <ul>
            <li><%= link_to "Sales Order", sales_path %></li>
            <li><%= link_to 'Delivery Receipt', delivery_path %></li>
            <li><%= link_to "Job Order ", jobs_path %></li>
            <li><%= link_to "Training", training_path %></li>
            <li><%= link_to "Collection", collection_path %></li>
          </ul>
        </nav>
</header>
</span>
