<!DOCTYPE html>
<html>
<head>
  <title>JobOrder001</title>
  <%= render 'layouts/stylesheets' %>
</head>
<body>
  <div class="container">
   
      <section class="round">
        <div class="signout">
          <%= link_to 'Listing Job', jobs_path %> |
          <%= link_to "Job Order ", new_job_path %> |
          <%= link_to "Work Done ",  '#' %> |
          <%= link_to "Sign out",  destroy_user_session_path,  :method=> :delete %>
          
        </div>
        <%= yield %>
      </section>
  
    </div>

</body>
</html>
